/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF STYLE RESET*/

/*Base styles*/
body {
	font-family: 'Droid Sans', sans-serif;
}

nav {
  height: 90px;
  width: 100%;
  background-color: #2D2D2D;
	min-width: 640px;
}

footer {
	clear:both;
	background-color: #2D2D2D;
	width: 100%;
	min-width: 450px;
	height: 40px;
}
/*----------*/

#menu {
  width: 100%;
  margin: 0px, auto;
}

nav ul li {
  display: inline-block;
  font-family: Droid Sans;
	font-weight: bold;
  color: white;
  margin-top: 35px;
  margin-left: 0px;
  float: left;
}

#pages li:hover {
	color: red;
	border-top: 10px solid red;
	cursor: pointer;
}

#social li img:hover {
	cursor: pointer;
	animation-name: socialeffect;
	animation-duration: 1.5s;
}

@keyframes socialeffect {
  from {border-radius: 100%;
				transform: scale(1);}
    to {border-radius: 0%;
				transform:scale(1.5);}
}

.default {
  border-top: 10px solid black;
  margin-top:0px;
  padding:30px;
  color: #878787;
}

li.selected {
  border-top: 10px solid red;
  color: white;
}

#social li {
 float:right;
 margin-top: 27.5px;
 margin-right: 30px;
}


footer p {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 100;
  color: white;
  text-align:center;
  padding-top: 9px;
}

/*About Page Styling*/
img.about {
	margin: 0px auto;
	width: 100%;
	min-width: 640px;
}

.aboutus {
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
	margin-top: 20px;
	padding-top: 20px;
	background: #3A3A3A;
	color: white;
	min-width: 450px;
	}

.pane {
	background: #3A3A3A;
	width: 50%;
	float: left;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	padding-left: 20px;
}

.pane > p {
	width: 90%;
	color: white;
	font-size: 22px;
	font-weight: lighter;
	line-height: 25px;
	padding-top: 10px;
}

/*Contact Styling*/
.talkabout {
	text-align: center;
	font-size: 40px;
	margin-top: 20px;
	padding-top: 20px;
	background: #3A3A3A;
	color: white;
	min-width: 450px;
	line-height: 30px;
}

form {
	font-size: 24px;
	width: 100%;
}

fieldset {
	background: #3a3a3a;
	padding-top: 20px;
	display: inline-block;
}

label {
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
		margin-top: 10px;
}

input, textarea {
  float: left;
	margin-left: 20px;
	padding: 10px, 10px;
	width: 350px;
	margin-top: 10px;
	font-size: 24px;
}

input {
	height: 45px;
}

input[type="submit"] {
  margin-top: 15px;
	border: none;
	padding: 8px 12px 10px 12px;
	width: 180px;
	color: white;
	background: red;
	transition: 750ms all;
	cursor: pointer;
  font-weight: bold;
	text-align: center;
	float: right;
}

input[type="submit"]:hover {
background: green;
}

/*Home Page Styling*/
#banner {
position: relative;
}

#banner_image {
	width:100%;
}

#circles {
  position:absolute;
  bottom: 0;
  left: 35%;
}

#circles li {
  display: inline-block;
}

#circles li div {
  height:30px;
  width:30px;
  background-color:navy;
  border-radius:80px;
  margin-left: 10px;
  border-color: #FFFFFF;
}

#floating_text {
  position:absolute;
  top:0;
  height:100%;
  width:300px;
  background:black;
  opacity:.3;
}

#float {
  clear:both;
  color:red;
  position:absolute;
}
